body{
    text-align: center;
    background-color: black;
    color: yellow;
    font-family: Arial;
}

form{
    text-align: left;
    padding-left: 40%;
}

.button {
    background-color: yellow;
    color:black;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
